/vendor
/node_modules
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen
/public/storage
/public/hot

# Laravel with changed public path
/public_html/storage
/public_html/hot

/public/build
/storage/*.key
/storage/pail

.env
.env.backup
.env.production

.phpunit.result.cache
Auth.json
.phpactor.json
/.phpunit.cache
/.vagrant
Homestead.yaml
Homestead.json

/.fleet
/.idea
/.nova
/.vscode
/.zed
